<div class="row">
  <div class="col m12">

    <!-- Table -->
    <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th>ISBN</th>
          <th>Título</th>
          <th>Autor</th>
        </tr>
      </thead>
      <tbody>
        <!-- Mensaje de carga -->
        <div>
          <p><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>Cargando datos...</p>
        </div>
        <tr *ngFor="let libro of libros">
          <td>{{ libro.isbn }}</td>
          <td>{{ libro.titulo }}</td>
          <td>{{ libro.autor }}</td>
        </tr>
      </tbody>
    </table>
    <!-- /Table -->

  </div>
</div>
