<div class="row">
  <div class="col m12">
    <!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"> -->
    <table>
      <thead>
        <tr>
          <th>ISBN</th>
          <th>Título</th>
          <th>Autor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12345678</td>
          <td>Libro muy interesante</td>
          <td>Juan Perez</td>
        </tr>
        <!--
        <tr *ngFor="let post of posts">
          <td>{{ post.id }}</td>
          <td>{{ post.userId }}</td>
          <td>{{ post.title }}</td>
        </tr>
        -->
      </tbody>
    </table>
  </div>
</div>
