<!-- Formulario para el ingreso del nuevo libro -->
<form autocomplete="off" #libroNuevoForm="ngForm" (ngSubmit)="crear(libroNuevoForm)">
  <!-- Título -->
  <div class="row">
    <div class="input-field col s12">
      <input id="titulo" name="titulo" type="text" class="validate" [(ngModel)]="libro.titulo" required>
      <label for="titulo">Título</label>
    </div>
  </div>

  <!-- Autores -->
  <div class="row">
    <div class="input-field col s12">
      <div id="autores" class="chips"></div>
      <label for="autores">Autores</label>
    </div>
  </div>

  <!-- Editorial y pais -->
  <div class="row">
    <div class="input-field col s6">
      <input id="editorial" name="editorial" type="text" class="validate" [(ngModel)]="libro.editorial" required>
      <label for="editorial">Editorial</label>
    </div>
    <div class="input-field col s6">
      <input id="pais" name="pais" type="text" class="validate" [(ngModel)]="libro.pais" required>
      <label for="pais">País</label>
    </div>
  </div>

  <!-- Año, edición e ISBN -->
  <div class="row">
    <div class="input-field col s3">
      <input id="anio" name="anio" type="number" class="validate" min="1950" max="2050" [(ngModel)]="libro.anio" #anio="ngModel" [range]="[1950, 2050]" required>
      <label for="anio" data-error="Valor entre 1950 y 2050">Año</label>
    </div>
    <div class="input-field col s3">
      <input id="edicion" name="edicion" type="number" class="validate" min="1" max="30" [(ngModel)]="libro.edicion" #edicion="ngModel" [range]="[1, 30]" required>
      <label for="edicion" data-error="Valor entre 1 y 30">Edición</label>
    </div>
    <div class="input-field col s6">
      <input id="isbn" name="isbn" type="text" class="validate" pattern="^[\d-]{13}$|^[\d-]{17}$" [(ngModel)]="libro.isbn" required>
      <label for="isbn" data-error="Ingrese 10 ó 13 dígitos, con guiones">ISBN</label>
    </div>
  </div>

  <!-- Botones del formulario -->
  <div class="row">
    <div class="center">
      <button type="submit" class="btn waves-effect waves-green" [disabled]="!libroNuevoForm.form.valid || libro.autores.length == 0 || anio.errors?.range || edicion.errors?.range">Guardar</button>
      <button type="button" class="btn waves-effect waves-green" (click)="limpiar(libroNuevoForm)">Limpiar</button>
    </div>
  </div>
</form>

<!-- Mensajes -->
<div class="row">
  <div class="alert alert-info col s6 offset-s3" *ngIf="showMessage">
    <p>Creando libro...</p>
  </div>
  <div class="alert alert-danger col s6 offset-s3" *ngIf="errorMessage">
    <p>{{errorMessage}}</p>
  </div>
</div>
