<!-- Side nav -->
<ul id="slide-out" class="side-nav fixed">
  <li>
    <a routerLink="/ejemplares"><i class="fa fa-files-o"></i>Ejemplares</a>
  </li>
  <li>
    <a routerLink="/libros"><i class="fa fa-book"></i>Libros</a>
  </li>
  <li>
    <a routerLink="/adquisiciones"><i class="fa fa-shopping-bag"></i>Adquisiciones</a>
  </li>
  <li>
    <a routerLink="/intercambios"><i class="fa fa-exchange"></i>Intercambios</a>
  </li>
  <li class="active">
    <a routerLink="/percances"><i class="fa fa-exclamation-triangle"></i>Daños y extravíos</a>
  </li>
  <li>
    <a routerLink="/descartes"><i class="fa fa-times"></i>Descartes</a>
  </li>
  <li>
    <a routerLink="/sugerencias"><i class="fa fa-commenting"></i>Sugerencias</a>
  </li>
  <li>
    <a routerLink="/empleados"><i class="fa fa-users"></i>Empleados</a>
  </li>
</ul>
<!-- /Side nav -->

<div class="component">
  <div>
    <h4 class="center-align">Sección de daños y extravíos</h4>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <div class="card-content">

          <h5>Listado de daños y extravios</h5>

          <!-- Table -->
          <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>Ejemplar</th>
                <th>Libro</th>
                <th>Tipo</th>
                <th>Prestamista</th>
                <th>Fecha</th>
              </tr>
            </thead>
            <tbody>

              <!-- Mensaje de carga -->
              <div>
                <p><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>Cargando datos...</p>
              </div>

              <!-- Percances -->
              <tr *ngFor="let percance of percances">
                <td><a [routerLink]="['/ejemplares/'+percance.ejemplar.id]">{{percance.ejemplar.codigo}}</a></td>
                <td>{{percance.ejemplar.libro.titulo}}, {{percance.ejemplar.libro.edicion}}ed</td>
                <td>{{percance.tipo}}</td>
                <td>{{percance.prestamista}}</td>
                <td>{{percance.fecha | date:"dd/MM/y"}} </td>
              </tr>

            </tbody>
          </table>
          <!-- /Table -->

        </div>
      </div>
      <!-- /card-panel -->
    </div>
    <!-- /col -->
  </div>
  <!-- row -->
</div>
