<div class="row">
  <div class="col s12 m12">
    <div class="card-panel">
      <h5>Crear Adquisición</h5>

      <!-- Form -->
      <form autocomplete="off" #nuevaAdquisicionForm="ngForm" (ngSubmit)="crear()">

        <!-- Nombre  -->
        <div class="row">
          <div class="input-field col m6 offset-m1 s8 offset-s2">
            <input id="nombre" name="nombre" type="text" class="validate" maxlength="60" [(ngModel)]="adquisicion.nombre" required>
            <label for="nombre">Nombre</label>
          </div>
        </div>

        <!-- Tipo y donante -->
        <div class="row">
          <div class="input-field col m3 offset-m1 s8 offset-s2">
            <select id="tipo" name="tipo" materialize="material_select" [(ngModel)]="adquisicion.tipo" required>
              <option value="" disabled selected>Seleccionar...</option>
              <option>Compra</option>
              <option>Donación</option>
            </select>
            <label for="tipo">Motivo:</label>
          </div>

          <div class="input-field col m5 offset-m1 s8 offset-s2" *ngIf="adquisicion.tipo == 'Donación'">
            <input id="donante" name="donante" type="text" class="validate" [(ngModel)]="adquisicion.donante">
            <label for="donante"> Donante </label>
          </div>
        </div>

        <!-- Tabla de nuevos ejemplares -->
        <br>
        <div class="row">
          <div class="col m12">

            <!-- Table -->
            <table class="bordered">
              <thead>
                <tr>
                  <th>Libro</th>
                  <th>Cantidad</th>
                  <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ejemplar of adquisicion.ejemplares">
                  <td>{{ejemplar.libro.titulo}}</td>
                  <td><input class="validate col m3 offset-m1" type="number" name="cantidad" min="1" max="20" [(ngModel)]="ejemplar.cantidad" required></td>
                  <td><a (click)="eliminarEjemplar(ejemplar)"><i class="material-icons borrar">delete</i></a></td>
                </tr>
              </tbody>
            </table>
            <!-- /Table -->

          </div>
        </div>
        <!-- /Tabla de nuevos ejemplares -->

        <!-- Acciones -->
        <br>
        <div class="row">
          <a class="waves-effect waves-light btn col m2 offset-m2 s4 " (click)="openSeleccion()">Agregar</a>
          <button type="submit" class="waves-effect waves-light btn col m2 offset-m1 s4" [disabled]="!nuevaAdquisicionForm.form.valid || (adquisicion.tipo=='Donación' && !adquisicion.donante) || adquisicion.ejemplares.length==0 || cantidadesIncorrectas()">Guardar</button>
          <a class="waves-effect waves-light btn col m2 offset-m1 s4 " (click)="openCancel()">Cancelar</a>
        </div>

      </form>
      <!-- /form -->

      <!-- Mensajes -->
      <div class="row">
        <div class="alert alert-danger col s6 offset-s3" *ngIf="errorMessage">
          <p>{{errorMessage}}</p>
        </div>
        <div class="alert alert-info col s6 offset-s3" *ngIf="showMessage">
          <p>Creando adquisición...</p>
        </div>
      </div>

    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- /row -->


<!-- Ventana modal para agregar libro -->
<div class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalSeleccion">
  <div class="modal-content">
    <libro-seleccion (eventEmitter)='onNotify($event)'></libro-seleccion>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn" (click)="closeSeleccion()">Cerrar</a>
  </div>
</div>

<!-- Ventana modal para asegurar la acción de cancelar -->
<div id="modal" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalCancel">
  <div class="modal-content">
    <h4>Confirmar cancelación</h4>
    <p>¿Desea cancelar el ingreso de ejemplares?</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn" (click)="closeCancel()">No</a>
    <a class="modal-action modal-close waves-effect btn" (click)="cancel()">Sí</a>
  </div>
</div>
