<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
        <h5>Listado de adquisiciones</h5>

        <!-- Table -->
        <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Fecha de creación</th>
            </tr>
          </thead>
          <tbody>

            <!-- Mensaje de carga -->
            <div>
              <p><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>Cargando datos...</p>
            </div>

            <!-- Adquisiciones -->
            <tr *ngFor="let adquisicion of adquisiciones">
              <td><a [routerLink]="'/adquisiciones/'+adquisicion.id">{{adquisicion.nombre}}</a></td>
              <td>{{adquisicion.tipo}}</td>
              <td>{{adquisicion.fecha | date:"d/M/y"}}</td>
            </tr>

          </tbody>
        </table>
        <!-- /Table -->

      </div>
      <!-- /card-content -->

      <!-- Acciones -->
      <div class="card-action">
        <a routerLink="/adquisiciones/nueva" type="submit" class="btn waves-effect waves-green">Nueva</a>
      </div>

    </div>
    <!-- /card -->
  </div>
  <!-- /col -->
</div>
<!-- /row -->
