<div *ngIf="adquisicion; else elseAdquisicion">

  <!-- Información de la adquisición -->
  <div class="row">
    <div class="col s12 m12">

      <div class="card-panel">
        <h5>Información de la adquisición</h5>

        <!-- Nombre y fecha -->
        <div class="row">
          <div class="col m5 s12">
            <strong>Nombre: </strong>
            <span>{{adquisicion.nombre}}</span>
          </div>
          <div class="col m5 s12">
            <strong>Fecha: </strong>
            <span>{{adquisicion.fecha | date:"shortDate"}}</span>
          </div>
        </div>

        <!-- Motivo y donante -->
        <div class="row">
          <div class="col m5 s12">
            <strong>Motivo: </strong>
            <span>{{adquisicion.tipo}}</span>
          </div>
          <div class="col m5 s12" *ngIf="adquisicion.donante">
            <strong>Donante: </strong>
            <span>{{adquisicion.donante}}</span>
          </div>
        </div>

        <!-- Motivo y donante -->
        <div class="row">
          <div class="col m5 s12">
            <strong>Aprobada por: </strong>
            <span>{{adquisicion.usuario}}</span>
          </div>
        </div>

      </div>
      <!-- /card-panel -->
    </div>
    <!-- /col -->
  </div>
  <!-- /row -->

  <!-- Tabla de ejemplares -->
  <div class="row">
    <div class="col s12 m12">
      <div class="card-panel">
        <h5>Ejemplares</h5>

        <form autocomplete="off" #adquisicionForm="ngForm">
          <!-- tabla -->
          <table>
            <thead>
              <tr>
                <th>Código de barra</th>
                <th>Título</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ejemplar of adquisicion.ejemplares">
                <td>
                  <!-- Poner hipervínculo cuando no se pueda ingresar el código -->
                  <a *ngIf="ejemplar.ingresado || !catalogador" href="javascript:void(0)" (click)="linkEjemplar(ejemplar.id);">{{ejemplar.codigo || 'No asignado'}}</a>
                  <!-- Permitir el ingreso del código de barras cuando se cumplan los requisitos -->
                  <div *ngIf="!ejemplar.ingresado && catalogador" class="input-field col m6 offset-m1 s8 offset-s2">
                    <input type="text" class="validate" [name]="ejemplar.id" pattern="^[\d]{8}$" [(ngModel)]="ejemplar.codigo">
                    <label for="codigo" data-error="Debe ingresar 8 dígitos">Código de barra</label>
                  </div>
                </td>
                <!-- Título y estado de ejemplar -->
                <td><a href="javascript:void(0)" (click)="linkLibro(ejemplar.libro.id);">{{ejemplar.libro.titulo}}, {{ejemplar.libro.edicion}}ed</a></td>
                <td>{{ejemplar.estado}}</td>
              </tr>
            </tbody>
          </table>
          <!-- /tabla -->

          <!-- Acciones -->
          <div class="row">
            <button *ngIf="showButton" type="button" class="waves-effect waves-light btn col m2 s12 offset-m5" [disabled]="!adquisicionForm.form.valid" (click)="guardar()">Guardar</button>
          </div>
        </form>

        <!-- Mensajes -->
        <div class="row">
          <div class="alert alert-danger col s6 offset-s3" *ngIf="errorMessage">
            <p>{{errorMessage}}</p>
          </div>
          <div class="alert alert-info col s6 offset-s3" *ngIf="showMessage">
            <p>Guardando datos...</p>
          </div>
        </div>

      </div>
      <!-- /card-panel -->
    </div>
    <!-- /col -->
  </div>
  <!-- /row -->
</div>
<!-- /adquisicion -->

<!-- Mensaje de espera -->
<ng-template #elseAdquisicion>
  <div class="row">
    <div class="col s8 m8 offset-s2 offset-m2">
      <p>Cargando...</p>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
</ng-template>
