<div class="row">
  <div class="col s12 m12">
    <div class="card-panel">
      <div class="card-content">
        <form>
          <div class="row">
            <div class="input-field col m6 s7 offset-m1">
              <input id="libro" type="text" class="validate" disabled>
              <label for="libro"> Libro</label>
            </div>
            <a class="waves-effect waves-light btn col m3 s4 offset-m1" (click)="openModal1()">Seleccionar</a>
          </div>

          <div class="row">
            <div class="input-field col s6">
                <select name="selectedOption" materialize="material_select" [materializeSelectOptions]="" [attr.disabled]="isDisabled?true:null">
                  <option value="" disabled selected>Seleccionar...</option>
                  <option value="">1</option>
                  <option value="">2</option>
                  <!-- <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option> -->
                </select>
                <label>Materialize Select</label>
            </div>
            <div class="input-field col s6">
              <input id="donante" type="text" class="validate">
              <label for="donante"> Donante</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <input id="codigo" type="text" class="validate">
              <label for="codigo"> Código de barras</label>
            </div>
          </div>

          <div class="row">
            <a class="waves-effect waves-light btn col m2 s12 offset-m3">Guardar</a>
            <a class="waves-effect waves-light btn col m2 s12 offset-m1">Cancelar</a>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<div class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions1">
  <div class="modal-content">
    <libro-seleccion></libro-seleccion>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal1()">Close</a>
  </div>
</div>
