<div class="row">
  <div class="col s12 m12">
    <div class="card-panel">

      <!-- Form -->
      <form autocomplete="off" #nuevoEjemplarForm="ngForm" (ngSubmit)="crear()">

        <!-- Seleccionar libro -->
        <div class="row">
          <div class="input-field col m6 offset-m1 s12">
            <strong>Libro: </strong>
            <input id="libro" type="text" name="libro" [(ngModel)]="ejemplar.libro.titulo" readonly required>
          </div>
          <a class="waves-effect waves-light btn col m3 s12 offset-m1 btnSelect" (click)="openSeleccion()">Seleccionar</a>
        </div>

        <!-- Origen del ejemplar -->
        <div class="row">

          <div class="input-field col l2 offset-l1 m4 offset-m1 s12">
            <select name="tipo" materialize="material_select" [(ngModel)]="ejemplar.tipo" required>
                  <option value="" disabled selected>Seleccionar...</option>
                  <option>Compra</option>
                  <option>Donación</option>
                </select>
            <label>Motivo</label>
          </div>

          <div class="input-field col  m5 s12" *ngIf="ejemplar.tipo == 'Donación'">
            <input id="donante" type="text" class="validate" name="donante" [(ngModel)]="ejemplar.donante">
            <label for="donante">Donante</label>
          </div>
        </div>
        <!-- Código de barras -->
        <div class="row">
          <div class="input-field col m5 offset-m1 s12">
            <input id="codigo" name="codigo" type="text" class="validate" pattern="^[\d]{8}$" [(ngModel)]="ejemplar.codigo" required>
            <label for="codigo" data-error="Ingrese 8 dígitos">Código de barras</label>
          </div>
        </div>

        <!-- Acciones -->
        <div class="row">
          <button class="waves-effect waves-light btn col m2 s12 offset-m3" [disabled]="!nuevoEjemplarForm.form.valid || ejemplar.tipo == 'Donación' && !ejemplar.donante">Guardar</button>
          <a class="waves-effect waves-light btn col m2 s12 offset-m1" (click)="openCancel()">Cancelar</a>
        </div>

      </form>
      <!-- /Form -->

      <!-- Mensajes -->
      <div class="row">
        <div class="alert alert-danger col s6 offset-s3" *ngIf="errorMessage">
          <p>{{errorMessage}}</p>
        </div>
        <div class="alert alert-info col s6 offset-s3" *ngIf="showMessage">
          <p>Creando ejemplar...</p>
        </div>
      </div>

    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- /row -->

<!-- Ventana modal para agregar libro -->
<div class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalSeleccion">
  <div class="modal-content">
    <libro-seleccion (eventEmitter)='onNotify($event)'></libro-seleccion>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="closeSeleccion()">Cerrar</a>
  </div>
</div>

<!-- Ventana modal para asegurar la acción de cancelar -->
<div id="modal2" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalCancel">
  <div class="modal-content">
    <h4>Confirmar cancelación</h4>
    <p>¿Desea cancelar el ingreso del ejemplar?</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeCancel()">No</a>
    <a class="modal-action modal-close waves-effect btn-flat" (click)="cancel()">Sí</a>
  </div>
</div>
