<div *ngIf="libro; else elseLibro">
  <div class="row">
    <div class="col s12 l12">
      <div class="card-panel">
        <div class="row">

          <!-- Información del libro, en parte izquierda -->
          <div class="col l7 s12">

            <!-- Título y edición en encabezado -->
            <div class="center">
              <h5>{{libro.titulo}}</h5>
              <h6>{{libro.edicion}}° edición</h6>
            </div>
            <br><br>

            <!-- Libro -->
            <div class="row">
              <!-- Imagen -->
              <div class="col l3 offset-l1 m2 offset-m1">
                <img src="{{libro.catalogo.img || 'assets/noImage.jpg'}}" alt="Imagen del libro" class="previa center">
              </div>

              <!-- Texto -->
              <div class="col l7 offset-l1 m7 offset-m2">

                <!-- Autores -->
                <div class="row">
                  <div class="col s12 m2 offset-m1 l1">
                    <strong>Autores: </strong>
                  </div>
                  <div class="col s12 m6 offset-m1">
                    <ul>
                      <li *ngFor="let autor of libro.autores">{{autor}}</li>
                    </ul>
                  </div>
                </div>

                <!-- Editorial y país -->
                <div class="row">
                  <div class="col s12 l6">
                    <strong>Editorial: </strong>
                    <span>{{libro.editorial}}</span>
                  </div>
                  <div class="col s12 l6">
                    <strong>País: </strong>
                    <span>{{libro.pais}}</span>
                  </div>
                </div>

                <!-- Año e ISBN -->
                <div class="row">
                  <div class="col s12 l6">
                    <strong>Año: </strong>
                    <span>{{libro.anio}}</span>
                  </div>
                  <div class="col s12 l6">
                    <strong>ISBN: </strong>
                    <span>{{libro.isbn}}</span>
                  </div>
                </div>

                <!-- Materias -->
                <div class="row">
                  <div class="col s12 m12 l12">
                    <strong>Materias: </strong>{{libro.catalogo.materias.join(", ")}}
                  </div>
                </div>

              </div>
              <!-- /texto -->
            </div>
            <!-- Libro -->
          </div>
          <!-- /Información del libro -->


          <!-- Ejemplares -->
          <div class="col l5 s12">
            <div *ngIf="!logueado" class="alert alert-info">
              Inicie sesión para ver los ejemplares.
            </div>
            <table *ngIf="logueado" class="striped col s12 m8 offset-m2 l8 offset-l2">
              <thead>
                <tr>
                  <th>Código de barra</th>
                  <th>Estado</th>
                  <th>Reservar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ejemplar of libro.ejemplares">
                  <td>{{ejemplar.estado}}</td>
                  <td>{{ejemplar.codigo || 'No asignado'}}</td>
                  <td><a *ngIf="ejemplar.estado == 'Disponible'" class="waves-effect waves-light" (click)="openReservar(ejemplar)">Reservar</a></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <!-- /row -->
      </div>
      <!-- /card-panel -->
    </div>
    <!-- /col -->
  </div>
  <!-- row -->
</div>
<!-- libro -->


<!-- Mensaje de espera -->
<ng-template #elseLibro>
  <div class="row">
    <div class="col s8 m8 offset-s2 offset-m2">
      <p>Cargando...</p>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Ventana modal para reservar un ejemplar -->
<div class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalReservar">
  <div class="modal-content">
    <h5>Confirmar reservación</h5>
    <p>Reservación termina: {{fechaFin}}</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="reservar()">Reservar</a>
    <a class="waves-effect waves-light btn-flat" (click)="closeReservar()">Cancelar</a>
  </div>
</div>
