<div class="row">
  <div class="col l6">
    <!-- Código de autor -->
    <strong>Código de autor: </strong>
    <span>A###A</span>
    <br>
    <!-- Código Dewey -->
    <strong>Código Dewey: </strong>
    <span>###.##</span>
    <br>
    <!-- Materias -->
    <strong>Materias: </strong>
    <ul>
      <li>Materia 1</li>
      <li>Materia 2</li>
      <li>Materia 3</li>
    </ul>
  </div>  

  <!-- Imagen -->
  <div class="col l6">
    <img src="http://2.bp.blogspot.com/-iHSmD9SRU9s/VDhMkzW2_oI/AAAAAAAAK0w/IVe_QCU07xo/s1600/HP3_1.jpeg" alt="Imagen del libro" class="previa">
  </div>

</div>
<!-- /row -->
