<!-- Código de autor y categorías -->
<div class="row">
  <div class="col s12 m6 ">
    <b>Código de autor: </b>
    <span>Código de autor</span>
  </div>
  <div class="col s12 m6 ">
    <b>Categoría: </b>
    <span>categoria Dewey</span>
  </div>
</div>

<!-- Imagen y materías -->
<div class="row">
  <div class="col s12 m6 ">
    <b>Imagen: </b>
    <img src="" alt="Imagen">
  </div>
  <div class="col s12 m6 ">
    <b>Materias: </b>
    <ul>
      <li>Materia 1</li>
      <li>Materia 2</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col l6">
    <strong>Código de autor: </strong>
    <span>A###A</span>
    <br>
    <strong>Código Dewey: </strong>
    <span>###.##</span>
    <br>
    <strong>Materias: </strong>
    <ul>
      <li>Materia 1</li>
      <li>Materia 2</li>
      <li>Materia 3</li>
    </ul>
  </div>

  <div class="col l6">
    <img src="http://2.bp.blogspot.com/-iHSmD9SRU9s/VDhMkzW2_oI/AAAAAAAAK0w/IVe_QCU07xo/s1600/HP3_1.jpeg" alt="Imagen del libro" class="previa">
  </div>

</div>
