<div class="row">
  <div class="col l6">

    <!-- Código de autor -->
    <strong>Código de autor: </strong>
    <span>{{catalogo.codigoAutor}}</span>
    <br>

    <!-- Código Dewey -->
    <strong>Código Dewey: </strong>
    <span>{{catalogo.categoria}}</span>
    <br>

    <!-- Materias -->
    <strong>Materias: </strong>
    <ul>
      <li *ngFor="let materia of catalogo.materias">{{materia}}</li>
    </ul>
  </div>

  <!-- Imagen -->
  <div class="col l6">
    <img src="{{catalogo.img || 'assets/noImage.jpg'}}" alt="Imagen del libro" class="previa">
  </div>

</div>
<!-- /row -->
