<!-- Side nav -->
<ul id="slide-out" class="side-nav fixed">
  <li class="active">
    <a routerLink="/consultas"><i class="fa fa-search"></i>Consultas</a>
  </li>
  <li>
    <a routerLink="/traslados"><i class="fa fa-paper-plane-o"></i>Traslados</a>
  </li>
  <li>
    <a routerLink="/prestamos"><i class="fa fa-calendar-check-o"></i>Prestamos</a>
  </li>
  <li>
    <a routerLink="/reservaciones"><i class="fa fa-bookmark"></i>Reservaciones</a>
  </li>
</ul>
<!-- /Side nav -->

<!-- Espacio para los componentes (ver el css de este componente) -->
<div class="component">
  <div>
    <h4 class="center-align">Sección de consultas</h4>
  </div>
  <router-outlet></router-outlet>
</div>
