<div *ngIf="ejemplar; else elseEjemplar">
  <!-- Información del ejemplar -->
  <div class="row">
    <div class="col s12 m12">

      <div class="card-panel">
        <h5>Información del ejemplar</h5>

        <div class="row">
          <div class="col s12">
            <strong>Libro: </strong>
            <span><a [routerLink]="['/consultas/libro/'+ejemplar.libro.id]">{{ejemplar.libro.titulo}}</a></span>
          </div>
        </div>

        <div class="row">
          <div class="col m5 s12">
            <strong>Código de barra: </strong>
            <span>{{ejemplar.codigo || "No asignado"}}</span>
          </div>
          <div class="col m5 s12">
            <strong>Estado: </strong>
            <span>{{ejemplar.estado}}</span>
          </div>
        </div>

        <div class="row" *ngIf="ejemplar.estado=='Disponible' || ejemplar.estado=='Reservado'">
          <button type="button" class="btn waves-effect waves-green" (click)="openRetirar()">Retirar</button>
        </div>
      </div>
      <!-- /card-panel -->
    </div>
  </div>


  <!-- Tabla de transacciones -->
  <div class="row">
    <div class="col s12 m12">
      <div class="card-panel">
        <h5>Transacciones</h5>
        <table class="row-border hover">
          <thead>
            <tr>
              <th>Transacción</th>
              <th>Fecha</th>
              <th>Autoriza</th>
              <th>Proceso</th>
            </tr>
          </thead>
          <tbody>
            <!-- Mensaje de carga -->
            <tr *ngFor="let transaccion of ejemplar.transacciones">
              <td>{{transaccion.tipo}}</td>
              <td>{{transaccion.fecha | date:"dd/MM/y"}}</td>
              <td>{{transaccion.usuario}}</td>
              <td>{{transaccion.nombre}}</td>
            </tr>
          </tbody>
        </table>
        <!-- /table -->
      </div>
      <!-- card-panel -->
    </div>
  </div>
</div>

<!-- Mensaje de espera -->
<ng-template #elseEjemplar>
  <div class="row">
    <div class="col s8 m8 offset-s2 offset-m2">
      <p>Cargando...</p>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Ventana modal para asegurar la acción de retirar -->
<div id="modal" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalRetirar">
  <div class="modal-content">
    <h5>Confirmar retiro del ejemplar</h5>
    <!-- Causa -->
    <div class="row">
      <div class="input-field">
        <input id="causa" name="motivo" type="text" class="validate" [(ngModel)]="motivo">
        <label for="causa">Causa</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn" (click)="closeRetirar()">Cerrar</a>
    <a class="modal-action modal-close waves-effect btn" (click)="retirar()">Aceptar</a>
  </div>
</div>
