<h5 class="center">REQUISITOS PARA LA ENTREGA DE EJEMPLAR Y ARCHIVO DIGITAL (CD) DE TRABAJOS DE GRADUACIÓN EN BIBLIOTECA-FIA</h5>

<strong>DOCUMENTO IMPRESO</strong>
<p>1. El documento debe contener las referencias bibliográficas (bibliografía) que respalden su investigación, la cual deberá estar reflejada en el Índice del Contenido, con su respectivo número de página. (Requisito indispensable).</p>
<p>2. El ejemplar impreso deberá estar forrado con plástico transparente, preferiblemente que el espesor del forro sea grueso. </p>

<br>
<strong>PRESENTACIÓN DEL CD</strong>
<p>Deberá presentarlo en su respectiva caja plástica, con la siguiente portada, según ejemplo de imagen:</p>
<img src="assets/cd.jpg">

<p>La portada del disco deberá ser impresa* o quemada (no calcomanía) y contener la siguiente información, según ejemplo de imagen:</p>
<img src="assets/portada.jpg"><br>
<span>*CD que permite este tipo de presentación: LightScribe o imprimible (color dorado o blanco).</span>

<p><strong>PRESENTACIÓN DE LA INFORMACIÓN: </strong>Todo el contenido del documento deberá presentarse en archivo digital PDF, según el orden del documento impreso.</p>

<p><strong>LÍMITE DE CAPACIDAD PARA LA PRESENTACIÓN DEL ARCHIVO DIGITAL: </strong>70 MB.</p>

<br><br>
<h5 class="center">INFORMACIÓN ADICIONAL A PRESENTAR EL DÍA QUE ENTREGUE SU EJEMPLAR EN BIBLIOTECA</h5>

<p>Con el objetivo de agilizar el trámite en la entrega de su ejemplar a nuestra biblioteca, se le sugiere tener a la mano los siguientes datos, que utilizará para llenar hoja resumen que se le proporcionará el día que nos visite:</p>
<p>1. Número de carné de cada uno de los integrantes del grupo que desarrolló el trabajo de investigación.</p>
<p>2. Resumen descriptivo del trabajo de investigación que realizó, en un lenguaje sencillo, de fácil comprensión, que no exceda de 150 palabras.</p>
