<p>Recopilación de todos los trabajos de graduación de las diferentes facultades que conforman la
Universidad de El Salvador, en formato digital y son de libre acceso. Dirección electrónica:
<a href="http://ri.ues.edu.sv">http://ri.ues.edu.sv</a></p>
<p>Contamos con una colección de libros electrónicos, revistas electrónicas y bases de datos que puedes
accesar en la siguiente dirección: <a href="http://biblioteca.ues.edu.sv">http://biblioteca.ues.edu.sv</a></p>
<p>Este catálogo en línea es de fácil manejo ya que puedes ingresar a él desde la comodidad de tú hogar y
conocer el acervo bibliográfico con que cuenta la bibiblioteca de tú facultad, con sólo ingresar a la
siguiente dirección: <a href="http://sbdigital.ues.edu.sv">http://sbdigital.ues.edu.sv</a></p>
<p>Contamos con un portal de revistas de la Universidad de El Salvador. Accede a la siguiente dirección:
<a href="http://revistas.ues.edu.sv">http://revistas.ues.edu.sv</a></p>

<strong>Para conocer más sobre Zotero y Normas APA</strong>
<ul class="browser-default">
  <li><a href="http://biblioteca.ucm.es/data/cont/docs/397-2014-11-27-Zotero_jaa_oct14.pdf">Aprender Zotero, Arévalo, Julio Alonso</a></li>
  <li><a href="http://eprints.rclis.org/20141/1/Como_buscar_usar_informacion.pdf">Cómo buscar y usar información científica : Guía para estudiantes universitarios.</a></li>
  <li><a href="https://www.youtube.com/watch?v=hcuLpCfZ0Ug&amp;feature=youtu.be">Instala Zotero y el pluguin de Word con mozilla</a></li>
  <li><a href="https://www.youtube.com/watch?v=KIinyEhI2fs">Utilización de gestores bibliográficos</a></li>
  <li><a href="http://www.apastyle.org/">APA Style</a></li>
  <li><a href="http://www.chicagomanualofstyle.org/tools_citationguide.html">Manual de estilo de Chicago</a></li>
  <li><a href="https://www.mla.org/MLA-Style">Manual de estilo de la Modern Language Association</a></li>
</ul>
