<strong>El objetivo de éste servicio es facilitar algunas directrices para:</strong>

<p>¿Cómo utilizar el Catálogo en línea? <a href="http://sbdigital.ues.edu.sv">http://sbdigital.ues.edu.sv</a></p>
<p>¿Cómo utilizar el Repositorio institucional? <a href="http://ri.ues.edu.sv">http://ri.ues.edu.sv</a></p>
<p>¿Cómo utilizar las Bases de Datos? <a href="http://biblioteca.ues.edu.sv">http://biblioteca.ues.edu.sv</a></p>
<br>
<p>Gestor Bibliográfico “Zotero” solicitar la capacitación a la dirección de biblioteca: 2225-4272, correo electrónico: ruizsonia151@gmail.com; bibliomezaues@yahoo.es</p>
