<strong>Circulación y préstamos: </strong>
<ul class="browser-default">
  <li>Bibliotecóloga María Marta Yanet Martínez Méndez. (yanetnov2014@gmail.com)</li>
  <li>Bibliotecóloga Ana Silvia Hernández Hernández. (silviahernadez692@gmail.com)</li>
</ul>

<br><br>
<strong>Tesario y procesos técnicos: </strong>
<ul class="browser-default">
  <li>Bibliotecóloga Ana Marina Montenegro de Benítez. (marinadebenitez@gmail.com)</li>
</ul>

<br><br>
<strong>Colección de Referencia y Hemeroteca: </strong>
<ul class="browser-default">
  <li>Sra. Blanca Estela Araujo de Velásquez. (estrelladevelasquez@gmail.com)</li>
</ul>

<br><br>
<strong>Colección de Referencia y Hemeroteca: </strong>
<ul class="browser-default">
  <li>Jefa: Licda. Sonia Arely Ruiz de Meza (ruizsonia151@gmail.com; bibliomezaues@yahoo.es)</li>
  <li>Asistente de la unidad: Ana Raquel Martínez de Chavarría (raquelmartinezayala@gmail.com)</li>
</ul>
