
<p><strong>Misión: </strong>Ser una unidad de apoyo a la enseñanza de grado, a la educación continua de diplomados, maestrías y al desarrollo de la investigación.</p>
<p><strong>Visión: </strong>Brindar los mejores servicios de información y de calidad. </p>

<strong>Valores: </strong>
<ul class="browser-default">
  <li>Vocación de servicio</li>
  <li>Comunicación</li>
  <li>Trabajo en equipo</li>
  <li>Innovación</li>
</ul>

<br>
<strong>La biblioteca cuenta con:</strong>
<ul class="browser-default">
  <li><strong>Libros: </strong>Especializados en las áreas de Ingeniería y Arquitectura, Eje. Cálculos, Físicas, Matemáticas, Estadísticas, Ingeniería Económica, Termodinámica Etc.</li>
  <li><strong>Mapas: </strong>Contamos con una colección de 350 mapas y cuadrantes.</li>
  <li><strong>Normas: </strong>Se cuenta con la colección de las Normas ASTM, AASTHO, ATC-40, NEC (National Electrical Code)</li>
</ul>

<br>
<strong>Horarios de atención: </strong>
<ol class="browser-default">
  <li>
    <span>Circulación y Préstamo (2da. Planta):</span> <br>
    <span>De Lunes a Viernes: 7:00 a.m. a 6:00 p. m. (Sin cerrar al mediodía)</span> <br>
    <span>Sábado: De 8:00 a.m. a 12:00 m.</span><br><br>
  </li>
  <li>
    <span>Tesario (2da. Planta): </span> <br>
    <span>De Lunes a Viernes: 8:00 a.m. a 12:00 m. </span><br><br>
  </li>
  <li>
    <span>Procesos Técnicos (3ra. Planta): </span> <br>
    <span>De Lunes a Viernes: 1:00 a 4:00 p.m.</span><br><br>
  </li>
  <li>
    <span>Colección de Referencia y Hemeroteca (3ra. Planta):</span> <br>
    <span>De Lunes a viernes: 9:00 a.m. a 5:00 p.m. </span><br><br>
  </li>
  <li>
    <span>Oficina de Dirección: </span> <br>
    <span>De Lunes a Viernes: 8:00 a.m. a 12:00 m. y de 1:00 a 5:00 p.m.</span><br><br>
  </li>
</ol>
