<p>
  <strong>¿Cómo puedo localizar un libro?</strong><br>
  Utilizando el catálogo en línea, disponible a través de: <a href="http://sbdigital.ues.edu.sv">http://sbdigital.ues.edu.sv</a>, desde cualquier dispositivo con acceso a internet o consultando directamente en las instalaciones de la biblioteca.
</p>

<p>
  <strong>Si no encuentro un libro o una revista en los catálogos automatizados de la biblioteca ¿Quiere decir que no están en la biblioteca?</strong><br>
  No necesariamente, se debe consultar en la biblioteca para asegurarse que no están.
</p>

<p>
  <strong>Estoy realizando una investigación sobre un tema determinado, ¿Puedo solicitar a la biblioteca por correo electrónico, por teléfono o en sus instalaciones para que realice la búsqueda y me entregue los resultados? </strong><br>
  Sí, en la biblioteca pueden realizarle la consulta bibliográfica, y además indicarle las herramientas de que dispone para que usted mismo se familiarice y pueda resolver por sí mismo la búsqueda.
</p>

<p>
  <strong>¿Se pueden realizar préstamos a domicilio? </strong><br>
  Sí, puedes hacerlo en el área de Circulación y préstamo, 2ª. Planta y dirigirte a la bibliotecaria.
</p>

<p>
  <strong>Necesito un artículo cuya revista está en la Hemeroteca de la biblioteca ¿Puedo conseguir una fotocopia del mismo? </strong><br>
  Sí, presentando tú DUE, que esté actualizado.
</p>

<p>
  <strong>Necesito un libro el cual está en otra biblioteca del sistema bibliotecario ¿Puedo hacer el préstamo? </strong><br>
  Sí, solicitando préstamo interbibliotecario en la Secretaría de la Dirección de la biblioteca, ubicada en la 3ª. Planta del edificio.
</p>

<p>
  <strong>¿Cómo se accede a los recursos electrónicos disponibles? </strong><br>
  Coloca la siguiente dirección electrónica en la Web y aparecerá el siguiente portal: <a href="http://biblioteca.ues.edu.sv">http://biblioteca.ues.edu.sv</a>, podrás encontrar: Bases de datos, Revistas electrónicas, libros electrónicos y repositorio institucional.
</p>

<p>
  <strong>¿Existen algunas restricciones sobre el uso de los recursos electrónicos disponibles? </strong><br>
  Al acceder al recurso te indica las posibles restricciones, preséntate a la bibliotecaria para solicitar las diferentes claves.
</p>

<p>
  <strong>Me gustaría conocer cómo se utiliza un recurso electrónico determinado ¿Quién me puede ayudar? </strong><br>
  Consulta a la bibliotecaria de cualquier sección, con mucho gusto te atenderá o solicita a la Dirección de la biblioteca una capacitación sobre el uso de los recursos electrónicos con que cuenta la unidad.
</p>

<p>
  <strong>No soy alumno de la universidad ¿Puedo hacer uso de la biblioteca para consultar sus colecciones?</strong><br>
  Sí.
</p>

<p>
  <strong>¿Tengo que pagar alguna cantidad de dinero para utilizar los servicios de la biblioteca?</strong><br>
  No.
</p>

<p>
  <strong>¿Qué documentación necesito para consultar las colecciones de la biblioteca? </strong><br>
  Si no es alumno de la universidad y se encuentra en calidad de visitante, debe presentar su DUI y solamente en sala los puede consultar.
</p>

<p>
  <strong>¿Hay computadoras para consultar las bases de datos en la biblioteca?</strong><br>
  Sí.
</p>

<p>
  <strong>¿Puedo utilizar la laptop o la Tablet en la biblioteca? </strong><br>
  Sí.
</p>

<p>
  <strong>¿Con mí Tablet o mí laptop puedo acceder a los recursos electrónicos que ofrece la biblioteca?</strong><br>
  No, por el momento no contamos con ese servicio.
</p>

<p>
  <strong>¿Puedo imprimir en la biblioteca?</strong><br>
  La biblioteca no ofrece el servicio de reprografía dentro de las instalaciones.
</p>
