<!-- Espacio para los componentes (ver el css de este componente) -->
<div class="component">
  <div class="space"></div>
  <div class="row">
    <div class="col l10 offset-l1 s12">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header active">Inicio</div>
          <div class="collapsible-body"><info-inicio></info-inicio></div>
        </li>
        <li>
          <div class="collapsible-header">Otros sitios</div>
          <div class="collapsible-body"><info-sitios></info-sitios></div>
        </li>
        <li>
          <div class="collapsible-header">Contactos</div>
          <div class="collapsible-body"><info-contacto></info-contacto></div>
        </li>
        <li>
          <div class="collapsible-header">Historia</div>
          <div class="collapsible-body"><info-historia></info-historia></div>
        </li>
        <li>
          <div class="collapsible-header">Preguntas frecuentes</div>
          <div class="collapsible-body"><info-faq></info-faq></div>
        </li>
        <li>
          <div class="collapsible-header">Información sobre entrega de tesis</div>
          <div class="collapsible-body"><info-tesis></info-tesis></div>
        </li>
        <li>
          <div class="collapsible-header">Formación</div>
          <div class="collapsible-body"><info-formacion></info-formacion></div>
        </li>
        <li>
          <div class="collapsible-header">Galeria de fotos</div>
          <div class="collapsible-body"><info-galeria></info-galeria></div>
        </li>
      </ul>
    </div>
  </div>

</div>
