<div class="row">
  <div class="col s12 m12">
    <div class="card-panel">
      <h5>Ingresar entrada de intercambio</h5>

      <!-- Selección de facultad -->
      <div class="row">
        <div class="input-field col s12 l6">
          <select name="facultad" materialize="material_select" [(ngModel)]="intercambio.facultad" required>
            <option disabled selected>Seleccionar...</option>
            <option *ngFor="let facultad of facultades">{{facultad}}</option>
          </select>
          <label>Enviar a: </label>
        </div>
      </div>

      <!-- Formulario para buscar  -->
      <form autocomplete="off" #buscarEjemplarForm="ngForm" (ngSubmit)="agregar()">
        <div class="row">
          <div class="input-field col m4 s8">
            <input id="codigo" name="codigo" type="text" class="validate" pattern="^[0-9]{8}$" [(ngModel)]="codigo" required>
            <label for="codigo" data-error="El código debe contener 8 dígitos">Código de barra</label>
          </div>
          <div class="col m8 s4">
            <button class="btn waves-effect waves-green search" type="submit" [disabled]="!buscarEjemplarForm.form.valid">Agregar</button>
          </div>
        </div>
      </form>

      <!-- Mensajes -->
      <div class="row">
        <div class="alert alert-warning col s6 offset-s3" *ngIf="message">
          <p>{{message}}</p>
        </div>
        <div class="alert alert-info col s6 offset-s3" *ngIf="showMessage">
          <p>Agregando...</p>
        </div>
      </div>

      <!-- Tabla de nuevos ejemplares -->
      <br>
      <div class="row">
        <div class="col m12">

          <!-- Table -->
          <table class="bordered">
            <thead>
              <tr>
                <th>Libro</th>
                <th>Código de barra</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ejemplar of intercambio.ejemplares">
                <td>{{ejemplar.libro.titulo}}</td>
                <td>{{ejemplar.codigo}}</td>
                <td><a  (click)="eliminarEjemplar(ejemplar)"><i class="material-icons borrar">delete</i></a></td>
              </tr>
            </tbody>
          </table>
          <!-- /Table -->

        </div>
      </div>
      <!-- /Tabla de nuevos ejemplares -->

      <!-- Acciones -->
      <br><br>
      <div class="row">
        <button class="button" class="waves-effect waves-light btn col m2 offset-m4 s4" (click)="crear()" [disabled]="intercambio.ejemplares.length==0 || !intercambio.facultad">Crear</button>
        <a class="waves-effect waves-light btn col m2 offset-m1 s4 " (click)="openCancel()">Cancelar</a>
      </div>

      <!-- Mensajes -->
      <div class="row">
        <div class="alert alert-danger col s6 offset-s3" *ngIf="errorMessage">
          <p>{{errorMessage}}</p>
        </div>
        <div class="alert alert-info col s6 offset-s3" *ngIf="showMessage2">
          <p>Creando intercambio...</p>
        </div>
      </div>


    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- /row -->


<!-- Ventana modal para asegurar la acción de cancelar -->
<div id="modal2" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalCancel">
  <div class="modal-content">
    <h4>Confirmar cancelación</h4>
    <p>¿Desea cancelar el ingreso del intercambio?</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn" (click)="closeCancel()">No</a>
    <a class="modal-action modal-close waves-effect btn" (click)="cancel()">Sí</a>
  </div>
</div>
