<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
        <h5>Listado de intercambios</h5>

        <!-- Table -->
        <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th>Facultad</th>
              <th>Creada por</th>
              <th>Fecha</th>
              <th>Completo?</th>
            </tr>
          </thead>
          <tbody>

            <!-- Mensaje de carga -->
            <div>
              <p><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>Cargando datos...</p>
            </div>

            <!-- Empleados -->
            <tr *ngFor="let intercambio of intercambios">
              <td><a [routerLink]="['/intercambios/salida/'+intercambio.id]">{{intercambio.facultad}}</a></td>
              <td>{{intercambio.usuario}}</td>
              <td>{{intercambio.fecha | date:"dd/MM/y"}}</td>
              <td>{{intercambio.completo? "Sí" : "No"}}</td>
            </tr>
          </tbody>
        </table>
        <!-- /Table -->

      </div>
      <!-- /card-content -->

      <!-- Acciones -->
      <div class="card-action">
        <a routerLink="/intercambios/nuevo" type="submit" class="btn waves-effect waves-green">Nuevo</a>
      </div>

    </div>
    <!-- /card -->
  </div>
  <!-- /col -->
</div>
<!-- /row -->
