<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <h5>Sugerencias realizadas</h5><br>
      <table *ngIf="sugerencias; else elseSugerencias">
        <thead>
          <th>Título</th>
          <th>Materia</th>
          <th *ngIf="docente">Cantidad</th>
          <th>Estado</th>
        </thead>
        <tbody>
          <!-- Mis sugerencias -->
          <tr *ngFor="let sugerencia of sugerencias">
            <td>
              <a *ngIf="docente" [routerLink]="['/sugerencias/pedir/'+sugerencia.id]">{{sugerencia.titulo}}</a>
              <a *ngIf="!docente" [routerLink]="['/sugerencias/votar/'+sugerencia.id]">{{sugerencia.titulo}}</a>
            </td>
            <td>{{sugerencia.materia}}</td>
            <td *ngIf="docente">{{sugerencia.cantidad}}</td>
            <td>{{sugerencia.estado}}</td>
          </tr>
        </tbody>
      </table>

      <!-- Mensaje de espera -->
      <ng-template #elseSugerencias>
        <div class="row">
          <div class="col s8 m8 offset-s2 offset-m2">
            <p>Cargando...</p>
            <div class="progress">
              <div class="indeterminate"></div>
            </div>
          </div>
        </div>
      </ng-template>

    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- row -->
