<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <h5>Sugerencias realizadas</h5><br>
      <table>
        <thead>
          <th>Título</th>
          <th>Materia</th>
          <th>Cantidad</th>
          <th>Estado</th>
        </thead>
        <tbody>
          <td>Título del libro</td>
          <td>Materia</td>
          <td>Cantidad</td>
          <td>Estado</td>
        </tbody>
      </table>

    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- row -->
