<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel" *ngIf="sugerencia; else elseSugerencia;">

      <!-- Título y editorial -->
      <h5 class="center">{{sugerencia.titulo}}, {{sugerencia.edicion}} ed</h5>
      <h6 class="center">{{sugerencia.editorial}}</h6>

      <!-- Autor e ISBN -->
      <div class="row">
        <div class="col s12 m3 offset-m2">
          <strong>Autor: </strong> {{sugerencia.autor}}
        </div>
        <div class="col s12 m3">
          <strong>ISBN: </strong> {{sugerencia.isbn}}
        </div>
        <div class="col s12 m3">
          <strong>Estado: </strong> {{sugerencia.estado}}
        </div>
      </div>

      <!-- Materias de la sugerencia. -->
      <div class="row">
        <div class="col s12 m3 offset-m1" *ngFor="let materia of sugerencia.materias">
          <dl>
            <dt><strong>{{materia.nombre}}</strong></dt>

            <!-- Votos -->
            <dd>Votos: {{materia.votos}}</dd>

            <!-- Pedidos -->
            <dd>Pedidos: {{materia.pedidos}} <span *ngIf="materia.usuario">(Tu elección)</span></dd>
          </dl>
        </div>
      </div>

      <br>

      <!-- Agregar un pedido -->
      <div *ngIf="!sugerencia.usuario && pendiente">
        <div class="row">
          <strong class="col l11 offset-l1">Agregar un pedido: </strong>
          <br>

          <div class="input-field col l3 offset-l1 m4 offset-m1 s12">
            <!-- Select de carrera -->
            <select materialize="material_select" name="carrera" (change)="selectCarrera($event.target.value)" required>
              <option *ngFor="let carrera of carreras">{{carrera.nombre}}</option>
            </select>
            <label for="tipo">Carrera:</label>
          </div>

          <form #pedidoForm="ngForm" autocomplete="off">
            <!-- Materia con autocompletado -->
            <div class="input-field col l4 m6 s12">
              <input id="materia" name="materia" type="text" class="validate" required>
              <label for="materia">Materia</label>
            </div>

            <!-- Cantidad -->
            <div class="input-field col l1 m2 offset-m1 s12">
              <input id="cantidad" name="cantidad" type="number" class="validate" [(ngModel)]="sugerencia.cantidad" min="1" max="10" #cantidad="ngModel" [range]="[1, 10]" required>
              <label for="cantidad" data-error="Valor entre 1 y 10">Cantidad</label>
            </div>

            <!-- Precio -->
            <div class="input-field col l1 m2 s12">
              <input id="precio" name="precio" type="number" class="validate" [(ngModel)]="sugerencia.precio" min="1" max="100" step="0.01" #precio="ngModel" [range]="[1, 100]" required>
              <label for="precio" data-error="Valor entre 1 y 100">Precio</label>
            </div>
          </form>
        </div>

        <!-- Botón de agregación -->
        <div class="center">
          <button type="submit" class="waves-effect waves-light btn" [disabled]="!pedidoForm.form.valid || !materia || precio.errors?.range || cantidad.errors?.range" (click)="realizarPedido(materia.id)">Agregar</button>
        </div>
      </div>
      <!-- /Agregar pedido -->

      <div *ngIf="sugerencia.estado == 'Aceptada'">
        <strong>La sugerencia fue aceptada, se ordenarán {{sugerencia.cantidad}} ejemplares</strong>
      </div>

      <div *ngIf="sugerencia.estado == 'Rechazada'">
        <p>La sugerencia fue rechazada debido a {{sugerencia.razonRechazo}}</p>
      </div>

    </div>
    <!-- /card-panel -->

    <!-- Mensaje a mostrar durante la carga -->
    <ng-template #elseSugerencia>
      <div class="row">
        <div class="col s8 m8 offset-s2 offset-m2">
          <p>Cargando...</p>
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
  <!-- /col -->
</div>
<!-- row -->
