<div class="row">
  <div class="col s12 m12">

    <!-- Buscador -->
    <div class="card-panel">
      <form #buscarForm="ngForm" (submit)="buscar()">
        <div class="row">
          <div class="input-field col l7 m6 s12">
            <input id="busqueda" name="busqueda" type="text" class="validate" maxlength="60" required>
            <label for="busqueda">Buscar...</label>
          </div>
          <div class="input-field col l2 m4 s12">
            <select id="tipo" name="tipo" materialize="material_select" required>
              <option value='0' selected>Título</option>
              <option value='1'>Código de Materia</option>
              <option value='2'>Carrera</option>
            </select>
            <label for="tipo">Criterio:</label>
          </div>
          <div class="col l2 m1 s12">
            <button type="submit" class="waves-effect waves-light btn" [disabled]="!buscarForm.form.valid"><i class="material-icons">search</i></button>
          </div>
        </div>
      </form>

      <br>
      <br>

      <!-- Resultados -->
      <div class="row">
        <div class="col l8 offset-l2 m10 offset-m1 s12">
          <ul class="collection">
            <li class="collection-item">
              <strong><a routerLink="/sugerencias/1">Título, #° ed</a></strong><span class="right">Puntuación</span>
              <br>Autor
            </li>
          </ul>
        </div>
      </div>
      <!-- <ul class="collection" *ngIf="; else else">
        <li *ngIf=".length == 0">Sin resultados</li>
        <li *ngFor="" class="collection-item">
          <strong><a href="javascript:void(0)" (click)="">titulo, edicion° ed</a></strong>
          <p>Autor</p>
          <p>puntuacio</p>
        </li>
      </ul> -->

      <!-- Mensaje de espera -->
      <!-- <ng-template #else>
        <div class="row">
          <div class="col s8 m8 offset-s2 offset-m2">
            <p>Cargando...</p>
            <div class="progress">
              <div class="indeterminate"></div>
            </div>
          </div>
        </div>
      </ng-template> -->
      <div class="row">
        <a class="btn btn-floating btn cyan pulse right" routerLink="/sugerencias/nueva/estudiante"><i class="material-icons">plus_one</i></a>
      </div>
    </div>
    <!-- /card-panel -->

  </div>
  <!-- /col -->
</div>
<!-- /row -->
