<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">

      <!-- Formulario para el ingreso de una nueva sugerencia -->
      <form autocomplete="off" #sugerenciaNuevaForm="ngForm" (ngSubmit)="crear()">

        <!-- Carrera y Materias -->
        <div class="row">
          <div class="input-field col l3 offset-l2 m5 s12">

            <!-- Select de carreras -->
            <select materialize="material_select" name="carrera" (change)="selectCarrera($event.target.value)" required>
              <option *ngFor="let carrera of carreras">{{carrera.nombre}}</option>
            </select>
            <label for="tipo">Carrera:</label>
          </div>

          <!-- Materia con autocompletado -->
          <div class="input-field col l5  m7 s12">
            <input id="materia" name="materia" type="text" class="validate" required>
            <label for="materia">Materia</label>
          </div>
        </div>

        <!-- Título -->
        <div class="row">
          <div class="input-field col l8 offset-l2 s12">
            <input id="titulo" name="titulo" type="text" class="validate" [(ngModel)]="sugerencia.titulo" required>
            <label for="titulo">Título</label>
          </div>
        </div>

        <!-- Autor -->
        <div class="row">
          <div class="input-field col l8 offset-l2 s12">
            <input id="autor" name="autor" type="text" class="validate" [(ngModel)]="sugerencia.autor" required>
            <label for="autor">Autor</label>
          </div>
        </div>

        <!-- Edición, Editorial, ISBN y precio -->
        <div class="row">

          <!-- Edición -->
          <div class="input-field col l1 offset-l2 m2 s12">
            <input id="edicion" name="edicion" type="number" class="validate" [(ngModel)]="sugerencia.edicion" min="1" max="30" required>
            <label for="edicion" data-error="Valor entre 1 y 30">Edición</label>
          </div>

          <!-- Editorial -->
          <div class="input-field col l3 m4 s12">
            <input id="editorial" name="editorial" type="text" class="validate" [(ngModel)]="sugerencia.editorial" required>
            <label for="editorial">Editorial</label>
          </div>

          <!-- ISBN -->
          <div class="input-field col l3 m4 s12">
            <input id="isbn" name="isbn" type="text" class="validate" pattern="^[\d-]{13}$|^[\d-]{17}$" [(ngModel)]="sugerencia.isbn" required>
            <label for="isbn" data-error="Ingrese 10 ó 13 dígitos, con guiones">ISBN</label>
          </div>

          <!-- Precio -->
          <div class="input-field col l1 m2 s12">
            <input id="precio" name="precio" type="number" class="validate" [(ngModel)]="sugerencia.precio" min="1" max="200" step="0.01" required>
            <label for="precio">Precio</label>
          </div>
        </div>

        <!-- Botones del formulario -->
        <div class="row">
          <div class="center">
            <button type="submit" class="btn waves-effect waves-green" [disabled]="!sugerenciaNuevaForm.form.valid || !idMateria">Guardar</button>
            <button type="button" class="btn waves-effect waves-green">Cancelar</button>
          </div>
        </div>
      </form>

      <!-- Mensajes -->
      <div class="row">
        <div class="alert alert-info col s6 offset-s3" *ngIf="showMessage">
          <p>Creando sugerencia...</p>
        </div>
        <div class="alert alert-danger col s6 offset-s3" *ngIf="errorMessage">
          <p>{{errorMessage}}</p>
        </div>
        <div class="alert alert-warning col s6 offset-s3" *ngIf="showFailMessage">
          <p>El ISBN ingresado ya está registrado. <a href="javascript:void(0)" (click)="linkSugerencia()">Ver sugerencia</a></p>
        </div>
      </div>

    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- row -->
