<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">

      <!-- Formulario para el ingreso de una nueva sugerencia -->
      <form autocomplete="off" #sugerenciaNuevaForm="ngForm" (ngSubmit)="crear()">

        <!-- Carrera y Materias -->
        <div class="row">
          <div class="input-field col l3 offset-l2 m5 s12">

            <!-- Select de carreras -->
            <select materialize="material_select" name="carrera" (change)="selectCarrera($event.target.value)" required>
              <option *ngFor="let carrera of carreras">{{carrera.nombre}}</option>
            </select>
            <label for="tipo">Carrera:</label>

          </div>

          <!-- Materias con autocompletado -->
          <div class="input-field col l5  m7 s12">
            <input id="materia" name="materia" type="text" class="validate" required>
            <label for="materia">Materia</label>
          </div>
        </div>

        <!-- Título -->
        <div class="row">
          <div class="input-field col l8 offset-l2 s12">
            <input id="titulo" name="titulo" type="text" class="validate" [(ngModel)]="sugerencia.titulo" required>
            <label for="titulo">Título</label>
          </div>
        </div>

        <!-- Autor -->
        <div class="row">
          <div class="input-field col l8 offset-l2 s12">
            <input id="autor" name="autor" type="text" class="validate" [(ngModel)]="sugerencia.autor" required>
            <label for="autor">Autor</label>
          </div>
        </div>

        <!-- Edición, Editorial, ISBN, precio y cantidad -->
        <div class="row">
          <!-- Edición -->
          <div class="input-field col l1 offset-l2 m2 s12">
            <input id="edicion" name="edicion" type="number" class="validate" min="1" max="30" [(ngModel)]="sugerencia.edicion" min="1" max="30" #edicion="ngModel" [range]="[1, 30]" required>
            <label for="edicion" data-error="Valor entre 1 y 30">Edición</label>
          </div>

          <!-- Editorial -->
          <div class="input-field col l3 m4 s12">
            <input id="editorial" name="editorial" type="text" class="validate" [(ngModel)]="sugerencia.editorial" required>
            <label for="editorial">Editorial</label>
          </div>

          <!-- ISBN -->
          <div class="input-field col l2 m4 s12">
            <input id="isbn" name="isbn" type="text" class="validate" pattern="^[\d-]{13}$|^[\d-]{17}$" [(ngModel)]="sugerencia.isbn" required>
            <label for="isbn" data-error="Ingrese 10 ó 13 dígitos, con guiones">ISBN</label>
          </div>

          <!-- Precio -->
          <div class="input-field col l1 m2 s12">
            <input id="precio" name="precio" type="number" class="validate" [(ngModel)]="sugerencia.precio" min="1" max="200" step="0.01" #precio="ngModel" [range]="[1, 200]" required>
            <label for="precio">Precio</label>
          </div>

          <!-- Cantidad -->
          <div class="input-field col l1 m2 s12">
            <input id="cantidad" name="cantidad" type="number" class="validate" [(ngModel)]="sugerencia.cantidad" min="1" max="30" #cantidad="ngModel" [range]="[1, 30]" required>
            <label for="cantidad" data-error="Valor entre 1 y 30">Cantidad</label>
          </div>
        </div>

        <!-- Botones del formulario -->
        <div class="row">
          <div class="center">
            <button type="submit" class="btn waves-effect waves-green col m2 offset-m4" [disabled]="!sugerenciaNuevaForm.form.valid || !idMateria || cantidad.errors?.range || precio.errors?.range || cantidad.errors?.range">Guardar</button>
            <a type="button" class="btn waves-effect waves-green col m2 offset-m1" (click)="openCancel()">Cancelar</a>
          </div>
        </div>
      </form>

      <!-- Mensajes -->
      <div class="row">
        <div class="alert alert-info col s6 offset-s3" *ngIf="showMessage">
          <p>Creando sugerencia...</p>
        </div>
        <div class="alert alert-danger col s6 offset-s3" *ngIf="errorMessage">
          <p>{{errorMessage}}</p>
        </div>
        <div class="alert alert-warning col s6 offset-s3" *ngIf="showFailMessage">
          <p>El ISBN ingresado ya está registrado. <a [routerLink]="['/sugerencias/pedir/'+sugerencia.id]">Ver sugerencia</a></p>
        </div>
      </div>

    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- row -->

<!-- Ventana modal para asegurar la acción de cancelar -->
<div id="modal2" class="modal bottom-sheet" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalCancel">
  <div class="modal-content">
    <h4>Confirmar cancelación</h4>
    <p>¿Desea cancelar el registro de la sugerencia?</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeCancel()">No</a>
    <a class="modal-action modal-close waves-effect btn-flat" (click)="cancel()">Sí</a>
  </div>
</div>
