<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <h5 class="center">Título, #° ed</h5>
      <h6 class="center">Editorial</h6>

      <div class="row">
        <div class="col s12 m3 offset-m3 left">
          <p><strong>Autor: </strong> Nombre de autor</p>
          <p><strong>ISBN: </strong>ISBN</p>
        </div>
        <div class="col s12 m6">
          <p><strong>Carrera: </strong> Nombre de la carrera</p>
          <p><strong>Materias: </strong>Materia1, Materia2</p>
        </div>
        <h6 class="col s12 center"><strong>Sugerido por: </strong>Nombre del creador de la sugerencia</h6>
        <h6 class="col s12 center"><strong>Aprobado por: </strong>Nombre del docente</h6>
      </div>

      <hr>

      <div class="row">
        <div class="col s12 center">
          <span><a><i class="material-icons">thumb_up</i></a>//Cantidad de votos</span>
        </div>
      </div>
    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- row -->
