<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel" *ngIf="sugerencia; else elseSugerencia;">
      <h5 class="center">{{sugerencia.titulo}}, {{sugerencia.edicion}}ed</h5>
      <h6 class="center">{{sugerencia.editorial}}</h6>

      <div class="row">
        <div class="col s12 m3 offset-m4">
          <strong>Autor: </strong> {{sugerencia.autor}}
        </div>
        <div class="col s12 m3">
          <strong>ISBN: </strong> {{sugerencia.isbn}}
        </div>
      </div>

      <div class="row">
        <div class="col s12 m3 offset-m2" *ngFor="let materia of sugerencia.materias">
          <dl>
            <dt><strong>{{materia.codigo}} - {{materia.nombre}}</strong></dt>
            <dd>Votos: {{materia.votos}}<a href=""><i class="material-icons">thumb_up</i></a></dd>
            <dd>Pedidos: {{materia.pedidos}}<a href=""><i class="material-icons">thumb_up</i></a></dd>
          </dl>
        </div>
      </div>

    </div>
    <!-- /card-panel -->

    <ng-template #elseSugerencia>
      <div class="row">
        <div class="col s8 m8 offset-s2 offset-m2">
          <p>Cargando...</p>
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
  <!-- /col -->
</div>
<!-- row -->
