<div class="row">
  <div class="col s12 m12">

    <!-- Buscador -->
    <div class="card-panel">
      <form #buscarForm="ngForm" (submit)="buscar()" autocomplete="off">
        <div class="row">
          <div class="input-field col l7 offset-l1 m6 s12">
            <input id="busqueda" name="busqueda" type="text" class="validate" maxlength="60" [(ngModel)]="textoBusqueda" required>
            <label for="busqueda">Buscar...</label>
          </div>
          <div class="input-field col l2 m4 s12">
            <select id="tipo" name="tipo" materialize="material_select" [(ngModel)]="criterioBusqueda" required>
              <option value='0'>Título</option>
              <option value='1'>ISBN</option>
              <option value='2'>Código de materia</option>
            </select>
            <label for="tipo">Criterio:</label>
          </div>
          <div class="col l2 m1 s12">
            <button type="submit" class="waves-effect waves-light btn" [disabled]="!buscarForm.form.valid"><i class="material-icons">search</i></button>
          </div>
        </div>
      </form>

      <br>
      <br>

      <!-- Resultados -->
      <div class="row" *ngIf="sugerencias; else elseSugerencias">
        <div class="sugerencia" *ngIf="sugerencias.length == 0" >Sin resultados</div>
        <div class="col l4 offset-l1 m10 offset-m1 s12 sugerencia" *ngFor="let sugerencia of sugerencias">

          <strong><a href="javascript:void(0)" (click)="linkSugerencia(sugerencia.id)">{{sugerencia.titulo}} ({{sugerencia.autor}})</a></strong>
          <br>
          <span>
            <strong>ISBN: </strong>{{sugerencia.isbn}}
          </span>
          <br>
          <span>
              <strong>Pedidos: </strong>{{sugerencia.pedidos}} <strong>Votos: </strong>{{sugerencia.votos}}
          </span>
        </div>
      </div>

      <!-- Mensaje de espera -->
      <ng-template #elseSugerencias>
        <div class="row">
          <div class="col s8 m8 offset-s2 offset-m2">
            <p>Cargando...</p>
            <div class="progress">
              <div class="indeterminate"></div>
            </div>
          </div>
        </div>
      </ng-template>
      <div class="row">
        <a class="btn btn-floating btn cyan pulse right" href="javascript:void(0)" (click)="linkCrear()">+</a>
      </div>
    </div>
    <!-- /card-panel -->

  </div>
  <!-- /col -->
</div>
<!-- /row -->
