<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <div class="row">
        <ul class="tabs">
          <li class="tab col m4 s12"><a class="active" href="#pendientes">Pendientes</a></li>
          <li class="tab col m4 s12"><a href="#aprobadas">Aprobadas</a></li>
          <li class="tab col m4 s12"><a href="#denegadas">Denegadas</a></li>
        </ul>
      </div>

      <div class="row">
        <!-- Pendientes -->
        <div id="pendientes" class="col s12">
        </div>

        <!-- Aprobadas -->
        <div id="aprobadas" class="col s12">
        </div>

        <!-- Denegadas -->
        <div id="denegadas" class="col s12">
        </div>

      </div>

    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- row -->
