<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
      <div class="row">
        <ul class="tabs">
          <li class="tab col m4 s12"><a class="active" href="#pendientes">Pendientes</a></li>
          <li class="tab col m4 s12"><a href="#aprobadas">Aprobadas</a></li>
          <li class="tab col m4 s12"><a href="#denegadas">Denegadas</a></li>
        </ul>
      </div>

      <div class="row">
        <!-- Pendientes -->
        <div id="pendientes" class="col s12">
          <div>
            <table class="row-border hover">

              <thead>
                <tr>
                  <th>Libro</th>
                  <th>ISBN</th>
                  <th>Pedidos</th>
                  <th>Votos</th>
                  <th>Precio sugerido</th>
                </tr>
              </thead>

              <tbody>
              <!-- Sugerencias pendientes de aprobación -->
                <tr>
                  <td><a [routerLink]="['/sugerencias/1']">Título del libro</a></td>
                  <td>123-123-12-1234-4</td>
                  <td>2</td>
                  <td>3</td>
                  <td>$99.99</td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>

        <!-- Aprobadas -->
        <div id="aprobadas" class="col s12">
          <div>

            <table class="row-border hover">

              <thead>
                <tr>
                  <th>Libro</th>
                  <th>ISBN</th>
                  <th>Cantidad aprobada</th>
                  <th>Precio</th>
                </tr>
              </thead>

              <tbody>
              <!-- Sugerencias pendientes de aprobación -->
                <tr>
                  <td><a>Título del libro</a></td>
                  <td>123-123-12-1234-4</td>
                  <td>5</td>
                  <td>$99.99</td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>

        <!-- Denegadas -->
        <div id="denegadas" class="col s12">
          <div>

            <table class="row-border hover">

              <thead>
                <tr>
                  <th>Libro</th>
                  <th>ISBN</th>
                  <th>Razón</th>
                </tr>
              </thead>

              <tbody>
              <!-- Sugerencias pendientes de aprobación -->
                <tr>
                  <td><a>Título del libro</a></td>
                  <td>123-123-12-1234-4</td>
                  <td>¿Por qué se rechazo la sugerencia?</td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>

      </div>

    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- row -->
