<!-- Side nav -->
<ul id="slide-out" class="side-nav fixed">
  <li>
    <a routerLink="/consultas"><i class="fa fa-search"></i>Consultas</a>
  </li>
  <li>
    <a routerLink="/traslados"><i class="fa fa-paper-plane-o"></i>Traslados</a>
  </li>
  <li>
    <a routerLink="/reservaciones"><i class="fa fa-bookmark"></i>Reservaciones</a>
  </li>
  <li class="active">
    <a routerLink="/prestamos"><i class="fa fa-calendar-check-o"></i>Prestamos</a>
  </li>
</ul>
<!-- /Side nav -->

<!-- Espacio para los componentes (ver el css de este componente) -->
<div class="component">
  <div>
    <h4 class="center-align">Sección de préstamos</h4>
  </div>
  <div class="row">
    <div class="col s12 m12">
      <div class="card-panel">
        <h5>Devolver o renovar préstamos</h5>

        <!-- Formulario para buscar  -->
        <form autocomplete="off" #buscarEjemplarForm="ngForm" (ngSubmit)="buscar()">
          <div class="row">

            <!-- Input -->
            <div class="input-field col m4 s8">
              <input id="codigo" name="codigo" type="text" class="validate" pattern="^[0-9]{8}$" [(ngModel)]="codigo" required>
              <label for="codigo" data-error="El código debe contener 8 dígitos">Código de barra</label>
            </div>

            <!-- Botón -->
            <div class="col m1 s1">
              <button class="btn waves-effect waves-green search" type="submit" [disabled]="!buscarEjemplarForm.form.valid"><i class="medium material-icons">search</i></button>
            </div>
          </div>

        </form>
        <!-- /form -->

        <!-- Resultados de la búsqueda -->
        <div class="row">
          <div class="col s12">
            <p>Resultado de la búsqueda:</p>
          </div>
        </div>


        <div *ngIf="transaccion">
          <div class="row">
            <div class="col m4 s12">
              <p><strong>Código de barra: </strong>{{transaccion.ejemplar.codigo}}</p>
            </div>
            <div class="col m8 s12">
              <p><strong>Titulo: </strong>{{transaccion.ejemplar.libro.titulo}}</p>
            </div>
            <div class="col m6 s12">
              <p><strong>Prestamista: </strong>{{transaccion.prestamista.nombre}}</p>
            </div>
            <div class="col m6 s12">
              <p><strong>Fecha de devolución: </strong>{{transaccion.fechaDevolucion | date: "dd/MM/y"}}</p>
            </div>
          </div>

          <!-- Botones -->
          <div class="row">
            <div class="center">
              <a class="waves-effect waves-light btn col m2 offset-m2 s4" (click)="openDevolver()">Devolver</a>
              <a class="waves-effect waves-light btn col m2 offset-m2 s4" (click)="openRenovar()">Renovar</a>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="message">
          <p>{{message}}</p>
        </div>

      </div>
      <!-- /card-panel -->
    </div>
    <!-- /col -->
  </div>
  <!-- /row -->
</div>

<!-- Ventana modal para confirmar renovación-->
<div id="modalR" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalRenovar">
  <div class="modal-content">
    <h5>Confirmar la renovación</h5>
    <div class="row">
      <div class="input-field col m6 offset-m2 s12">
        <ng-datepicker [(ngModel)]="fechaDevolucion" [options]="dpOptions"></ng-datepicker>
        <label for="fecha" class="active">Fecha de devolución</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn waves-effect waves-light" (click)="renovar()">Renovar</a>
    <a class="btn waves-effect waves-light" (click)="closeRenovar()">Cerrar</a>
  </div>
</div>

<!-- Ventana modal para cancelar una renovación -->
<div id="modalD" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalDevolver">
  <div class="modal-content">
    <h5>Devolución del préstamo</h5><br>
    <p>¿Confirma la devolución del ejemplar?</p>
  </div>
  <div class="modal-footer">
    <a class="btn waves-effect waves-light" (click)="devolver()">Confirmar</a>
    <a class="btn waves-effect waves-light" (click)="closeDevolver()">Cerrar</a>
  </div>
</div>
