<div class="row">
  <div class="col s12 l8 offset-l2">
    <div class="card-panel">
      <h4>Cambiar contraseña</h4>

      <!-- Formulario -->
      <form autocomplete="off">
        <div class="row">
          <!-- Correo -->
          <div class="input-field col s12 l8 offset-l2">
            <input id="contra" type="password" class="validate" name="contra" [(ngModel)]="contra" (change)="validar()">
            <label for="contra">Nueva contraseña</label>
          </div>
          <!-- Contraseña -->
          <div class="input-field col s12 l8 offset-l2">
            <input id="contra2" type="password" class="validate" name="contra2" [(ngModel)]="contra2" (keyup)="validar()">
            <label for="contra2">Confirmar contraseña</label>
          </div>
        </div>

        <!-- Botón -->
        <div class="row">
          <div class="center">
            <button type="button" class="btn waves-effect waves-light" [disabled]="!confirmar" (click)="cambiar()">Cambiar contraseña</button>
          </div>
        </div>
      </form>
      <!-- /form -->

      <!-- Mensajes -->
      <div class="row">
        <div class="alert alert-danger col s6 offset-s3" *ngIf="errorMessage">
          <p>{{errorMessage}}</p>
        </div>
        <div class="alert alert-info col s6 offset-s3" *ngIf="message">
          <p>{{message}}</p>
        </div>
      </div>

    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- /row -->
