<!-- TOP NAV -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul class="title left">
        <li><i class="large material-icons">insert_chart</i></li>
        <li><a routerLink="/">Biblioteca FIA</a></li>
      </ul>

      <ul class="right" *ngIf='usuario'>
        <li><a materialize="dropdown" class='dropdown-button' href='javascript:void(0)' data-activates='dropdown1'>{{usuario.nombre}}<i class="material-icons right">arrow_drop_down</i></a></li>
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="javascript:void(0)" (click)='cerrarSesion()'>Cerrar sesión</a></li>
        </ul>
      </ul>

      <ul class="right" [hidden]="usuario">
        <button type="button" class="btn waves-effect waves-green" id="googleBtn">{{messageBtn}}</button>
      </ul>

    </div>
  </nav>
</div>
<!-- /TOP NAV -->

<!-- Ventana modal con error -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalErrorActions">
    <div class="modal-content">
      <h4>Error</h4>
      <p>Debe iniciar sesión con un correo institucional (Ejemplo: AA10001@ues.edu.sv)</p>
      <p>La contraseña es la misma que el Expediente</p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
</div>
<!-- /modal -->

<router-outlet></router-outlet>
