<!-- TOP NAV -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <!-- Nombre del sitio -->
      <ul class="title left">
        <li><i class="large material-icons">insert_chart</i></li>
        <li><a routerLink="/">Biblioteca de la Facultad de Ingeniería y Arquitectura</a></li>
      </ul>

      <!-- Datos del usuario -->
      <ul class="right" *ngIf='usuario'>
         <li><a materialize="dropdown" class='dropdown-button'  data-activates='dropdown1'>{{usuario}}<i class="material-icons right">arrow_drop_down</i></a></li>
         <ul id='dropdown1' class='dropdown-content'>
           <li><a routerLink="/sugerencias/missugerencias">Mis sugerencias</a></li>
           <li><a (click)='cerrarSesion()'>Cerrar sesión</a></li>
         </ul>
       </ul>

    </div>
  </nav>
</div>
<!-- /TOP NAV -->

<router-outlet></router-outlet>
