<div class="row">
  <div class="col s8 offset-s2">
    <div class="card-panel">
      <h4>Inicio de sesión</h4>

      <!-- Formulario -->
      <div id="googleBtn" class="g-signin2">Google</div>
      <!-- /form -->

      <!-- Mensajes -->
      <div class="row">
        <div class="alert alert-danger col s6 offset-s3" *ngIf="errorMessage">
          <p>{{errorMessage}}</p>
        </div>
        <div class="alert alert-info col s6 offset-s3" *ngIf="message">
          <p>{{message}}</p>
        </div>
      </div>

    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- /row -->
