<div class="row">
  <div class="col s8 offset-s2">
    <div class="card-panel">
      <h4 class="center">Inicio de sesión</h4>

      <!-- Botón -->
      <div class="row s12 m8 offset-m2 l6 offset-l3">
        <p>Inicie sesión con su correo institucional. (Ejemplo: AA10001@ues.edu.sv)</p>
        <p>La contraseña es la misma del Expediente</p>
        <div class="center">
          <button type="button" class="btn waves-effect waves-green" id="googleBtn">Iniciar sesión</button>
        </div>
      </div>
      <!-- /botón -->

      <!-- Mensajes -->
      <div class="row">
        <div class="alert alert-danger col s6 offset-s3" *ngIf="errorMessage">
          <p>{{errorMessage}}</p>
        </div>
        <div class="alert alert-info col s6 offset-s3" *ngIf="message">
          <p>{{message}}</p>
        </div>
      </div>

    </div>
    <!-- /card-panel -->
  </div>
  <!-- /col -->
</div>
<!-- /row -->
