<!-- Side nav -->
<ul id="slide-out" class="side-nav fixed">
  <li>
    <a routerLink="/consultas"><i class="fa fa-search"></i>Consultas</a>
  </li>
  <li>
    <a routerLink="/traslados"><i class="fa fa-paper-plane-o"></i>Traslados</a>
  </li>
  <li>
    <a routerLink="/prestamos"><i class="fa fa-calendar-check-o"></i>Prestamos</a>
  </li>
  <li class="active">
    <a routerLink="/reservaciones"><i class="fa fa-bookmark"></i>Reservaciones</a>
  </li>
</ul>
<!-- /Side nav -->

<!-- Espacio para los componentes (ver el css de este componente) -->
<div class="component">
  <div>
    <h4 class="center-align">Sección de reservaciones</h4>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <div class="card-content">
          <h5>Listado de reservaciones</h5>

          <!-- Table -->
          <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>Prestamista</th>
                <th>Libro</th>
                <th>Hora</th>
                <th>Prestar</th>
                <th>Cancelar</th>
              </tr>
            </thead>
            <tbody>

              <!-- Mensaje de carga -->
              <div>
                <p><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>Cargando datos...</p>
              </div>

              <!-- Reservaciones -->
              <tr *ngFor="let reservacion of reservaciones">
                <td>{{reservacion.prestamista.nombre}}</td>
                <td>{{reservacion.ejemplar.titulo}}</td>
                <td>{{reservacion.fecha | date:"dd/MM/yy"}}</td>
                <td><button type="button" class="btn" (click)="openPrestar(reservacion)"><i class="material-icons">check</i></button></td>
                <td><button type="button" class="btn"><i class="material-icons">close</i></button></td>
              </tr>
            </tbody>
          </table>
          <!-- /Table -->

        </div>
        <!-- /card-content -->
      </div>
      <!-- /card-panel -->
    </div>
    <!-- /col -->
  </div>
  <!-- row -->
</div>

<!-- Ventana modal para prestar un libro -->
<div class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalPrestar">
  <div class="modal-content">
    <h5>Confirmación del préstamo</h5><br>
    <p>Préstamo del ejemplar: {{codigo}}</p><br>
    <div class="row">
      <div class="input-field col m1 offset-m5 s12">
        <input name="carnet" [(ngModel)]="carnet" type="text">
        <label for="carnet">Carnet del prestamista</label>
      </div>
      <div class="input-field col m1 offset-m5 s12">
        <input name="fecha" [(ngModel)]="fechaDevolucion" type="date">
        <label for="fecha" class="active">Fecha de devolución</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="waves-effect waves-light btn-flat" (click)="prestar()">Prestar</button>
    <a class="waves-effect waves-light btn-flat" (click)="closePrestar()">Cerrar</a>
  </div>
</div>

<!-- Ventana modal para cancelar una renovación -->
<div class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalCancelar">
  <div class="modal-content">
    <h5>Cancelación de la reservación</h5><br>
    <p>¿Confirma la cancelación de la reservación?</p>
  </div>
  <div class="modal-footer">
    <button class="waves-effect waves-light btn-flat" (click)="cancelar()">Confirmar</button>
    <a class="waves-effect waves-light btn-flat" (click)="closeCancelar()">Cerrar</a>
  </div>
</div>
