<!-- Side nav -->
<ul id="slide-out" class="side-nav fixed">
  <li>
    <a routerLink="/ejemplares"><i class="fa fa-files-o"></i>Ejemplares</a>
  </li>
  <li>
    <a routerLink="/libros"><i class="fa fa-book"></i>Libros</a>
  </li>
  <li>
    <a routerLink="/adquisiciones"><i class="fa fa-shopping-bag"></i>Adquisiciones</a>
  </li>
  <li>
    <a routerLink="/intercambios"><i class="fa fa-exchange"></i>Intercambios</a>
  </li>
  <li>
    <a routerLink="/percances"><i class="fa fa-exclamation-triangle"></i>Daños y extravíos</a>
  </li>
  <li>
    <a routerLink="/descartes"><i class="fa fa-times"></i>Descartes</a>
  </li>
  <li>
    <a routerLink="/sugerencias"><i class="fa fa-commenting"></i>Sugerencias</a>
  </li>
  <li class="active">
    <a routerLink="/empleados"><i class="fa fa-users"></i>Empleados</a>
  </li>
</ul>
<!-- /Side nav -->

<!-- Espacio para los componentes (ver styles.css) -->
<div class="component">
  <div>
    <h4 class="center-align">Sección de empleados</h4>
  </div>
  <router-outlet></router-outlet>
</div>
